body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.books {
    list-style: arabic-indic;
}

.author {
    list-style: lower-greek;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}
