{% if user.is_authenticated %}
  User: {{ user.username }}
  <br>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
  {% comment %}
    <a href="{% url 'logout' %}">Log out</a>
  {% endcomment %}
{% else %}
  <a href="{% url 'login' %}">Log in</a>
  <br>
  <a href="{% url 'catalog:author-create-view' %}">Create new account</a>
{% endif %}
<ul class="sidebar-nav">
  <li>
    --------
  </li>
  <li>
    <a href="{% url 'catalog:index' %}">Home</a>

  </li>
  <li>
    <a href="{% url 'catalog:author-list' %}">All authors</a>
  </li>
  <li>
    <a href="{% url 'catalog:book-list' %}">All books</a>
  </li>
  <li>
    <a href="{% url 'catalog:literary-formats-list' %}">All literary formats</a>
  </li>
</ul>
